pkgbase = yuzu-early-access
	pkgdesc = An experimental open-source Nintendo Switch emulator/debugger (early access version)
	pkgver = 2181
	pkgrel = 1
	url = https://yuzu-emu.org/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = git
	makedepends = glslang-dev
	makedepends = cmake
	makedepends = ninja-build
	makedepends = graphviz
	makedepends = doxygen
	makedepends = clang
	makedepends = libboost-dev
	makedepends = catch2
	makedepends = nlohmann-json-dev
	makedepends = rapidjson-dev
	makedepends = qttools5-dev
	makedepends = desktop-file-utils
	depends = libboost-dev
	depends = shared-mime-info
	depends = hicolor-icon-theme
	depends = libsdl2-dev
	depends = qtbase5-dev
	depends = qtmultimedia5-dev
	depends = qtwebengine5-dev
	depends = libxkbcommon-x11-dev
	depends = ffmpeg
	depends = libfmt-dev
	depends = libzip-dev
	depends = libopus-dev
	depends = libfdk-aac-dev
	depends = lz4
	depends = libmbedtls-dev
	depends = openssl
	depends = zstd
	optdepends = qtwayland5: for Wayland support
	provides = yuzu
	conflicts = yuzu
	source = https://github.com/pineappleEA/pineapple-src/archive/EA-2181.tar.gz
	source = inject-git-info.patch
	md5sums = 9b26c5fb5b340ed990f48a1bbf1b85ff
	md5sums = bf79f6d0b474b9bedcf010e127272bdc

pkgname = yuzu-early-access
